html, body {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 95%;
    text-align: center;
}
h1 {
    color: rgb(93, 180, 214);
    width: 15rem;
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid black;
    margin-left: 42%;
    margin-top: 20%;
}